@lxpanel --profile LXDE-pi
@pcmanfm --desktop --profile LXDE-pi

@xset s off
@xset -dpms
@xset s noblank

@unclutter -idle 10 -noevents &

@chromium-browser --kiosk --noerrdialogs --disable-infobars {{ custom_url }}

@/etc/xdg/lxsession/LXDE-pi/xdotool.sh